language: python
python:
- '3.6'
install:
- pip install pipenv pathlib2
- pipenv install --dev
script:
- pytest
after_success:
- wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
- chmod +x send.sh
- "./send.sh success $WEBHOOK_URL"
after_failure:
- wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
- chmod +x send.sh
- "./send.sh failure $WEBHOOK_URL"
deploy:
  provider: pypi
  user: s4ku-bot
  password:
    secure: "dns1Q7uIv80VWTM5RUtcS+XE4M945eUTsPrYbHw9djxIII3dF65wcB14Exicqp00KF1iafxqZ/wqFV2mQD0oRgcfn2z82dGBPM59mzz+Z870L8G3mIkat1QFmaXGpQZSvp4PB0nlnXSOv8rfgINY/jAnlDoduH1E9Ws90zZNtbTqKE4Upc9Evxq+vX6jPYsX/fTUlf0GvvXzbLkx588QvtFZ2aNsGoY8ZNWVyp1+YZ1F+lKoZ18+l/JeDpr2pNgEyyIae9OFzKYNFxrB66boEB5D+V0cS7y8JmipR4QK8HcUUsjsUlf/4hBR3WW3BXp01Jqa8YnNXlkdHjQ0h+8HojEZ93mYNIYHZkeUS5xEmY5EFkJ27RyfSAT1E92ZAzTqlhyumkrQMW30PEJOSlQC8JqZyJLzklWcRy6NM38diam/UOAET5eVg98oh90A8tGLynGt279w54Tlc4Eoj3f77xHm/QTb1OcLrFvPDmJngZSZU0ae+juQ0gDKnD0qpkoGH/spFOPfhj8Bduhz0dW1X8EFPwpt3yOHVeAmpRUdmmOle2ccSvH2iojUYoVzoqDzuIzpbExOb7OA0WYk5jejU+nUuTbdn+lSv/+168gM3ruJA+tff02QXR7ferJjZvF0vTD/+78CYY6JOM9samL6yW8bDvNsHkusTxhPjFbA08U="
  on:
    tags: true
