# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'
strategy:
  matrix:
    Python35:
      python.version: '3.5'
    Python36:
      python.version: '3.6'
    Python37:
      python.version: '3.7'
    Python38:
      python.version: '3.8'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install pipenv pathlib2 pytest flake8 mock pytest-azurepipelines
    # pipenv install --dev
  displayName: 'Install dependencies'

- script: python -m pipenv lock -r > requirements-pipenv.txt
  displayName: 'Create requirements-pipenv.txt from Pipfile'
  
- script: pip install -r requirements-pipenv.txt
  displayName: 'Install requirements-pipenv.txt'

- script: |
    pytest
  displayName: 'pytest'

- script: |
    flake8 --max-line-length 120
  displayName: 'flake'
