[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
click = "*"
tabulate = "*"
PyYAML = "*"

[dev-packages]
pytest = "*"
mock = "*"

[requires]
python_version = "3.6"
