[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.24"
click = "*"
tabulate = ">=0.8.3"
PyYAML = "*"
inflect = "*"
urllib3 = "~=1.26"
tenacity = "~=6.2"
container-app-conf = "~=5.1"
pycryptodome = ">=3.9"

[dev-packages]
pytest = "*"
mock = "*"
flake8 = "*"

[requires]
python_version = "3.9"
