[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.20"
click = "*"
tabulate = ">=0.8.3"
PyYAML = "*"
inflect = "*"
urllib3 = "~=1.24"
tenacity = "~=5.1"
container-app-conf = "~=5.0"
simplejson = "*"

[dev-packages]
pytest = "*"
mock = "*"
flake8 = "*"

[requires]
python_version = "3.6"
