certifi==2019.9.11
chardet==3.0.4
click==7.0
container-app-conf==5.0.0
idna==2.8
importlib-metadata==0.23
inflect==3.0.2
more-itertools==7.2.0
pycryptodome==3.9.8
py-range-parse==1.0.5
python-dateutil==2.8.1
pytimeparse==1.1.8
pyyaml==5.1.2
requests==2.22.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
six==1.13.0
tabulate==0.8.6
tenacity==5.1.5
toml==0.10.0
urllib3==1.25.7
zipp==0.6.0
